[submodule "Gem5"]
	path = simulator/gem5
	url = https://github.com/OMA-NVM/nv-gem5.git
	branch = stable
[submodule "NVMain"]
	path = simulator/nvmain
	url = https://github.com/skrj-gh/nv-NVmain.git
	branch = master
